<a href="https://colab.research.google.com/github/TatianaVP/-/blob/main/Dankolab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
import pandas as pd
import requests
import json

In [53]:
result = pd.DataFrame()
response2 = requests.get("https://swapi.dev/api/planets?search=Tatooine").json()  #пробовала сразу читать https://swapi.dev/api/people где homeworld=https://swapi.dev/api/planets/1/, но так не находит 
response3 = dict(response2)
for x in response3['results']:
  response4=x
for x in response4['residents']:
  url = x
  response5 = requests.get(url).json()
  response5 = dict(response5)
  df=pd.DataFrame([response5])
  result = result.append(df)
#print(result)
def csv():
  result.to_csv("result1.csv", index=False)
csv()
df_csv = pd.read_csv('/content/result1.csv')
df_csv

                 name  ...                               url
0      Luke Skywalker  ...   https://swapi.dev/api/people/1/
1               C-3PO  ...   https://swapi.dev/api/people/2/
2         Darth Vader  ...   https://swapi.dev/api/people/4/
3           Owen Lars  ...   https://swapi.dev/api/people/6/
4  Beru Whitesun lars  ...   https://swapi.dev/api/people/7/
5               R5-D4  ...   https://swapi.dev/api/people/8/
6   Biggs Darklighter  ...   https://swapi.dev/api/people/9/
7    Anakin Skywalker  ...  https://swapi.dev/api/people/11/
8      Shmi Skywalker  ...  https://swapi.dev/api/people/43/
9         Cliegg Lars  ...  https://swapi.dev/api/people/62/

[10 rows x 16 columns]